html {
    /* BACKGROUND */
    /* --main-background: #b0c0ff; */
    --main-background:
        radial-gradient(115.69% 40% at 110.49% 20.18%, red 0, transparent 104%),
        radial-gradient(77.69% 39% at -11.51% 88.18%, #ffb000 71%, purple 170%);
    --background-color: #000000e0;
    --background-color-transparent-50: #01040980;
    --background-color-contrast: #ffffff;

    /* CARDS */
    --placeholder-card-color: #191e2f;
    --card-color: #3d414d;
    --card-hover-color: #4a4e5c;

    --border-color: #323c5c;
    --border-size: 0.15rem;
    --border-radius: 0.5rem;

    --header-height: 3rem;
    --shadow-color: #000000;
    --inactive-opacity: 0.5;
}

body {
    background: var(--main-background);
    color: var(--background-color-contrast);
    display: grid;
    grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0;
}

#top_header {
    align-items: center;
    background: var(--background-color);
    box-shadow: 0 0 1rem var(--shadow-color);
    display: flex;
    font-weight: bold;
    padding: 0 2rem;
}

#top_header span {
    flex-grow: 1;
    font-size: 1.5rem;
    text-shadow: 0 0 0.3rem var(--shadow-color);
}

#top_header #save-status {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(var(--header-height) - 1rem);
    justify-self: right;
    width: calc(var(--header-height) - 1rem);
}

#top_header #save-status.connected {
    background-image: url(images/cloud.svg);
}

#top_header #save-status.success {
    background-image: url(images/cloud-done.svg);
}

#top_header #save-status.loading {
    animation: spin;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: url(images/loader.svg);
}

#top_header #save-status.disconnected {
    background-image: url(images/cloud-off.svg);
    animation: blink 1s steps(2, start) infinite;
    filter: brightness(0) saturate(100%) invert(58%) sepia(54%) saturate(4334%) hue-rotate(324deg) brightness(112%) contrast(109%);
}


@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#main_container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    overflow: hidden;
    padding: 2rem 5rem;
}

#task_editor {
    align-items: center;
    background-color: var(--background-color-transparent-50);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

#task_editor #task_editor_card {
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 70%;
    padding: 1rem;
    width: 70%;
}

#task_editor #task_editor_card input,
#task_editor #task_editor_card textarea {
    all: unset;
    background-color: var(--background-color-transparent-50);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

#task_editor #task_editor_card #notes {
    flex-grow: 1;
}

#task_editor #task_editor_card button {
    align-self: end;
}

.bucket {
    border-radius: var(--border-radius);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 1rem;
    position: relative;
    width: 30%;
}

.bucket>.title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.bucket button.create_task {
    all: unset;
    cursor: pointer;
    font-style: italic;
    opacity: var(--inactive-opacity);
    padding: 0.2rem 0.6rem;

}

.bucket button.create_task:hover {
    opacity: 1;
}

.task_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 3rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.task_wrapper {
    padding: 0.4rem 0;
}

.task_wrapper:first-child {
    padding-top: 0.2rem;
}

.task_wrapper.dragged {
    padding: 0;
}

.task_wrapper.dragged .task {
    border-width: 0;
    height: 0;
    padding: 0;
    visibility: hidden;
}

.task {
    background-color: var(--card-color);
    color: var(--background-color-contrast);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    overflow: hidden;
    padding: 1rem 1rem 1rem 1.5rem;
}

.task>.header {
    display: grid;
    grid-template-columns: auto 1.5rem;
}

.task>.header>.icon {
    background: url(images/more.svg);
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    display: flex;
    height: 1rem;
    width: 1.5rem;
    visibility: hidden;
    opacity: var(--inactive-opacity);
}

.task:hover>.header>.icon {
    visibility: visible;
}

.task>.header>.icon:hover {
    opacity: 1;
}

.task span {
    text-overflow: ellipsis;
    overflow: hidden;
}

.task>.description {
    opacity: var(--inactive-opacity);
}

.task>.labels_container {
    display: flex;
    flex-wrap: wrap;
}

.task>.labels_container>.label_tag {
    border-radius: var(--border-radius);
    border-width: var(--border-size);
    border-style: solid;
    font-size: 0.7rem;
    font-size: 0.8rem;
    gap: 0.2rem;
    padding: 0.3rem 0.4rem;
}

.task:hover {
    background-color: var(--card-hover-color);
}

#task_placeholder {
    background-color: var(--placeholder-card-color);
    border: var(--border-size) dashed var(--border-color);
    margin: 0.1rem;
}

.bucket .footer {
    background: linear-gradient(transparent, var(--background-color));
    border-radius: var(--border-radius);
    bottom: 0;
    height: 3rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}