/* DEFAULT THEME */
body {
    --color-header: #000000;
    --color-header-contrast: #ffffff;
    --color-header-contrast-inactive: #868c9b;
    --filter-header-contrast: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(22%) hue-rotate(162deg) brightness(105%) contrast(104%);;
    --filter-header-contrast-inactive: brightness(0) saturate(100%) invert(55%) sepia(11%) saturate(394%) hue-rotate(185deg) brightness(97%) contrast(90%);;

    --color-background: url(images/bg.webp);

    /* Buckets */
    --color-bucket: #000000c4;
    --color-bucket-contrast: #ffffff;
    --color-bucket-contrast-inactive: #868c9b;

    /* Task cards */
    --color-card: #3d414d;
    --color-card-hover: #4a4e5c;
    --color-placeholder-card: #191e2f;
    --color-card-active: #505463;
    --color-card-contrast: #ffffff;
    --color-card-contrast-inactive: #868c9b;
    --filter-card-contrast: brightness(0) saturate(100%) invert(95%) sepia(5%) saturate(22%) hue-rotate(162deg) brightness(105%) contrast(104%);;
    --filter-card-contrast-inactive: brightness(0) saturate(100%) invert(55%) sepia(11%) saturate(394%) hue-rotate(185deg) brightness(97%) contrast(90%);;

    --size-header-height: 3rem;

    --color-shadow: #000000;
    --color-modal-backdrop: #01040980;

    /* Border */
    --color-border: #323c5c;
    --size-border: 0.15rem;
    --border-radius: 0.5rem;

    /* Status */
    --color-success: #a5f642;
    --filter-success: brightness(0) saturate(100%) invert(100%) sepia(27%) saturate(5335%) hue-rotate(33deg) brightness(104%) contrast(98%);
    --color-error: #f6426f;
    --filter-error: brightness(0) saturate(100%) invert(35%) sepia(33%) saturate(3080%) hue-rotate(316deg) brightness(102%) contrast(93%);
}
