html {
    --main-background: radial-gradient(115.69% 40% at 110.49% 20.18%, red 0, purple 105%);

    /* BACKGROUND */
    --background-color: #000000e0;
    --background-color-transparent-50: #01040980;
    --background-color-contrast: #d0e1f8;
    --background-color-contrast-disabled: #d0e1f84d;

    /* CARDS */
    --card-color: #003377;
    --card-hover-color: #003d8d;
    --placeholder-card-color: #001837;

    --border-color: #2d5e9e;
    --border-size: 0.1rem;
    --border-radius: 0.5rem;

    --header-height: 3rem;
    --shadow-color: #000000;
    --inactive-opacity: 0.5;
}

body {
    background: var(--main-background);
    color: var(--background-color-contrast);
    display: grid;
    grid-template-rows: var(--header-height) calc(100vh - var(--header-height));
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    user-select: none;
    width: 100vw;
}

::-webkit-scrollbar {
    width: 0;
}

#top_header {
    align-items: center;
    background: var(--background-color);
    box-shadow: 0 0 1rem var(--shadow-color);
    display: flex;
    font-weight: bold;
    padding-left: 5rem;
}

#top_header span {
    flex-grow: 1;
    font-size: 1.5rem;
    text-shadow: 0 0 0.3rem var(--shadow-color);
}

#top_header #save-status {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(var(--header-height) - 1rem);
    justify-self: right;
    margin: 0.5rem;
    width: calc(var(--header-height) - 1rem);
}

#top_header #save-status.success {
    background-image: url(images/sync-saved-locally.svg);
}

#top_header #save-status.error {
    background-image: url(images/save-failed.svg);
}

#top_header #save-status.loading {
    animation: spin;
    animation-duration: 200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background-image: url(images/loader.svg);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

#main_container {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    padding: 2rem 5rem;
}

#task_editor {
    align-items: center;
    background-color: var(--background-color-transparent-50);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
}

#task_editor #task_editor_card {
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height: 80%;
    padding: 1rem;
    width: 50%;
}

#task_editor #task_editor_card input,
#task_editor #task_editor_card textarea {
    all: unset;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    padding: 0.5rem;
}

#task_editor #task_editor_card button {
    align-self: end;
}

.bucket {
    border-radius: var(--border-radius);
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;
    padding: 1rem;
    position: relative;
    width: 30%;
}

.bucket>.title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.bucket button.create_task {
    all: unset;
    cursor: pointer;
    font-style: italic;
    opacity: var(--inactive-opacity);
    padding: 0.2rem 0.6rem;

}

.bucket button.create_task:hover {
    opacity: 1;
}

.task_container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-bottom: 3rem;
    overflow: auto;
}

.task_wrapper {
    padding: 0.25rem 0;
}

.task_wrapper.dragged {
    padding: 0;
}

.task_wrapper.dragged .task {
    visibility: hidden;
    height: 0;
    padding: 0;
    border-width: 0;
}

.task {
    background-color: var(--card-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.task>.header {
    display: grid;
    grid-template-columns: auto 1rem;
    align-items: center;
}

.task>.header>.icon {
    background: url(images/more.svg);
    background-size: cover;
    border-radius: 50%;
    display: flex;
    height: 1.5rem;
    width: 1.5rem;
    visibility: hidden;
    opacity: var(--inactive-opacity);
}

.task:hover>.header>.icon {
    visibility: visible;
}

.task>.header>.icon:hover {
    opacity: 1;
}

.task>.description {
    color: var(--background-color-contrast-disabled);
}

.task:hover {
    background-color: var(--card-hover-color);
}

#task_placeholder {
    background-color: var(--placeholder-card-color);
    border: var(--border-size) dashed var(--border-color);
    margin: 0.1rem;
}

.bucket .footer {
    background: linear-gradient(transparent, var(--background-color));
    border-radius: var(--border-radius);
    bottom: 0;
    height: 3rem;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
}