body {
    background-color: #131314;
    color: white;
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Segoe UI', 'Segoe UI Web (West European)', -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    width: 100vw;
}

#top_header {
    background-color: #1b1b1b;
    height: 3rem;
}

#main_container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    gap: 2rem;
    overflow: hidden;
    padding: 3rem 5rem;
    place-content: center;
}

.bucket {
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 30%;
    flex-grow: 1;
}

.bucket .title {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    place-content: center;
}

.bucket .create_task {
    all: unset;
    background-color: #37393b;
    border-radius: 0.5rem;
    cursor: pointer;
    display: flex;
    margin-bottom: 1rem;
    padding: 1rem;
    place-content: center;
}

.bucket .create_task:hover {
    background-color: #4a4d52;
}

.bucket .task_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow: hidden;
}

.bucket .task_container .task {
    background-color: #1e1f20;
    border-radius: 0.5rem;
    cursor: pointer;
    filter: grayscale();
    padding: 1rem;
    user-select: none;

}

.bucket .task_container .task:hover {
    background-color: #2e2f2f;
}